<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Third suite" verbose="1" >
    <test name = "aFewTestsFromAClass" preserve-order="true" >
        <classes>
            <class name="HelloWorldTest" >
                <methods>
                    <!--<include name = "getMoney"/>-->
                    <!--<include name = "getMultiMoney()"/>-->
                    <include name = "testSayHello()"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>